
{% extends "base.html" %}
{% block content %}

<h2>Update Vet</h2>


<form action="/update_vet/{{vet.id}}" method="post">
  <div>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="Name" value="{{vet.first_name}}" required autofocus>
  </div>

  <div>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" value="{{vet.last_name}}" required>
  </div>

  <button type="submit">Update Vet</button>
    
</form>

{% endblock %}

