
{% extends "base.html" %}

{% block content %}

</body>
    <h1>Add Animal</h1>

    <form action="/animals" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
      </div>
    
      <div>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="text" id="date_of_birth" name="date_of_birth" placeholder="date_of_birth" required>
      </div>

      <div>
        <label for="animal_type">Animal Type:</label>
        <input type="text" id="animal_type" name="animal_type" placeholder="animal_type" required>
      </div>

      <div>
        <label for="client_name">Client Name:</label>
        <input type="text" id="client_name" name="client_name" placeholder="client_name" required>
      </div>

      <div>
        <label for="client_email">Client Email:</label>
        <input type="text" id="client_email" name="client_email" placeholder="client_email" required>
      </div>

      <div>
        <label for="treatment_notes">Treatment Notes:</label>
        <input type="text" id="treatment_notes" name="treatment_notes" placeholder="treatment_notes" required>
      </div>

    
      <div>
        <label for="completed">Completed:</label>
        <select id="completed" name="completed">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
    
      <div>
        <label for="vet">Vet:</label>
        <select id="vet" name="vet_id">
          <!-- TODO -->
        </select>
      </div>
    
      <button type="submit">Add Animal</button>
    
    </form>

    <!-- <form class="form-inline" action="/animals" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="date">Date of Birth</label>
      <input type="text" name="date_of_birth" id="date_of_birth">
      <label for="animal_type">Type</label>
      <input type="text" name="animal_type" id="animal_type">
      <label for="client_name">Client Name</label>
      <input type="text" name="client_name" id="client_name">
      <label for="client_email">Client Email</label>
      <input type="text" name="client_email" id="client_email">
      <label for="treatment_notes">Treatment Notes</label>
      <input type="text" name="treatment_notes" id="treatment_notes">

      <label for="vet">vet:</label>
        <select id="vet_id" name="vet_id">
            {% for vet in vets %}
            <option value="{{ vet.id }}">{{ vet.first_name }}</option>
            {% endfor %}
        </select> -->

     
      <!-- <input type="submit" value="Add animal">
    
    </form>  -->
    <!-- <div class="animal-container">
    {% for animal in animals %}
    <div class="animal">
      <h2>{{ animal.name }}</h2>
      <h3>{{ animal.date_of_birth }}</h3> -->
      

          

    <!-- <form class="form-inline" action="/animals/delete/{{ animal.name }}" method="POST">
            <input type="submit" value="Delete">
    </form> -->
    <!-- </div> -->
    {% endfor %}
  
{% endblock %}
