
{% extends "base.html" %}

{% block content %}

</body>
    <h1>Add Animal</h1>

    <form action="/animals" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name" required autofocus>
      </div>
    
      <div>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="text" id="date_of_birth" name="date_of_birth" placeholder="date_of_birth" required>
      </div>

      <div>
        <label for="animal_type">Animal Type:</label>
        <input type="text" id="animal_type" name="animal_type" placeholder="animal_type" required>
      </div>

      <div>
        <label for="client_name">Client Name:</label>
        <input type="text" id="client_name" name="client_name" placeholder="client_name" required>
      </div>

      <div>
        <label for="client_email">Client Email:</label>
        <input type="text" id="client_email" name="client_email" placeholder="client_email" required>
      </div>

      <div>
        <label for="treatment_notes">Treatment Notes:</label>
        <input type="text" id="treatment_notes" name="treatment_notes" placeholder="treatment_notes" required>
      </div>

    
      <!-- <div>
        <label for="active">Active:</label>
        <select id="active" name="active">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
     -->
      <div>
        <label for="vet">Vet:</label>
        <select id="vet_id" name="vet_id">
          {% for vet in vets %}
            <option value="{{ vet.id }}">{{ vet.first_name }}{{vet.last_name}}</option>
          {% endfor %}
  
        </select>
      </div>
    
      <button type="submit">Add Animal</button>
    
    </form>

    
    
    
    <!-- <div class="animal-container">
    {% for animal in animals %}
    <div class="animal">
      <h2>{{ animal.name }}</h2>
      <h3>{{ animal.date_of_birth }}</h3> -->
      

          

    <!-- <form class="form-inline" action="/animals/delete/{{ animal.name }}" method="POST">
            <input type="submit" value="Delete">
    </form> -->
    <!-- </div> -->
    {% endfor %}
  
{% endblock %}
